body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}
h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
}


ul {
    list-style-type: none;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



/*************************** Header *****************************/

.head {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
}

.head .container {
    display: flex;
    /* gap: 332px; */
    justify-content: space-between;
    height: 72px;
    align-items: center;
}

.nav {
    display: flex;
    column-gap: 76px;
    flex-grow: 1;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 76px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}





.logo .logo-studio {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}


.head-list {
    display: flex;
    gap: 40px;

}

.nav-list-links .links {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #2E2F42;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
}

.nav-list-links .links:hover {
    color: #404bbf;
}

.nav-list-links .links:focus {
    color: #404bbf;
}



/*************************** Address *****************************/

.add_ress {
    display: flex;
    color: #434455;
    font-style: normal;


}

.address-list {
    display: flex;
    gap: 40px;
}

.address-list li .info {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #434455;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.address-list li .info:hover,
.address-list li .info:focus {
    color: #404bbf;
}



/*************************** Section 1 *****************************/

.sec-first {
    background-color: #2E2F42;
    color: #ffffff;
    text-align: center;
    height: 600px;
}

.page-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    padding-top: 188px;
    max-width: 580px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
}

.bttn {
    background-color: #4D5AE5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    border: 0;
}

.bttn:hover {
    background-color: #404BBF;
}

.bttn:focus {
    background-color: #404BBF;
}

/*************************** Section 2 *****************************/
.sec-cecond {
    margin: 0 auto;
}


.main-title-sec-cecond {
    text-decoration: none;
    
}

.list-sec-cecond{
    display: flex;
    gap: 24px;
    margin-top: 120px;
    margin-bottom: 120px;
    height: 104px;
    
}


.list-sec-cecond li .title-sec-cecond {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    padding-bottom: 8px;
}

.list-sec-cecond li .paragraph-sec-cecond {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}


/*************************** Section 3 *****************************/


.sec-third {
    background-color: #F4F4FD;
    margin: 0 auto;
    height: 732px;
}


.sec-third .main-title-sec-third {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.main-title-sec-third {
    padding-top: 120px;
    padding-bottom: 72px;
    
}

.li-item {
    background-color: #ffffff;
    
}



.list-sec-third {
    display: flex;
    column-gap: 24px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.title-sec-third {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 8px;
}

.paragraph-sec-third {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 32px;
}


/*************************** Section 4 *****************************/

.sec-fourth {
    
    margin: 0 auto;
    padding-bottom: 120px;
}

.page-title-fourth {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 72px;
}

.list-sec-fourth {
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: calc((100% - 48) / 3);
}

.portf-first, .portf-cecond , .portf-third {
    padding-bottom: 48px;
    border: 1px solid #E7E9FC;
    gap: 48px;
    
}

.portf-fourth, .portf-fifth , .portf-sixth {
    /* padding-bottom: 120px; */
    border: 1px solid #E7E9FC;
    
}

.title-sec-fourth {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 8px;
}

.paragraph-sec-fourth {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    /* padding-bottom: 32px; */
}

/*************************** Footer *****************************/

.foo_ter {
    background-color: #2E2F42;
    text-align: left;
    height: 312px;
}

.foo_ter .logo {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    font-weight: 700;
    text-decoration: none;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 16px;
}

.foo_ter .logo-studio-footer {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-paragraph {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}